<h1 class="title" > <%= t("activerecord.models.task") %>一覧</h1>
<p><%= notice %></p>

<table>
  <tr>
    <th><%= t("activerecord.attributes.task.title") %></th>
    <th><%= t("activerecord.attributes.task.content") %></th>
    <th><%= t("activerecord.attributes.task.expired_at") %></th>

   </tr>
 <% @tasks.each do |task| %>
    <tr>
       <td td class="index-content"><%= task.title %></td>
       <td td class="index-content"><%= task.content %></td>
       <td td class="index-content"><%= task.expired_at.to_s(:datetime_jp) %> </td>
       <td td class="index-content"><%= link_to t('tasks.show.title'), task_path(task.id) %></td>
       <td td class="index-content"><%= link_to t('tasks.edit.title'), edit_task_path(task.id) %></td>
       <td td class="index-content"><%= link_to t('tasks.destroy.title'), task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
   </tr>
 <% end %>
</table>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<br>
<%= link_to t("activerecord.models.task")+'を作成する', new_task_path %>
