<h1 class="title" > <%= t("activerecord.models.task") %>一覧</h1>
<p><%= notice %></p>
 <%= form_with url: tasks_path, method: :get , local: true do |form| %>
  <%= form.label :task_title, "Task Title:" %>
  <%= form.text_field :title, placeholder: "検索..." %>
  <%= form.label :status, t("activerecord.attributes.task.status")  %>
  <%= form.select :status, options_for_select([[''],['todo'], ['doing'], ['done']])%>
  <%= form.submit value: "search", type: "submit" %>
<% end %>

<table>
  <tr>
    <th><%= t("activerecord.attributes.task.title") %></th>
    <th><%= t("activerecord.attributes.task.content") %></th>
    <th><%= t("activerecord.attributes.task.expired_at") %></th>
    <th><%= t("activerecord.attributes.task.status") %></th>
    <th><%= t("activerecord.attributes.task.priority") %></th>
    <th colspan="3"></th>

   </tr>
 <% @tasks.each do |task| %>
    <tr>
      <td class="index-content"><%= task.title %></td>
      <td class="index-content"><%= task.content %></td>
      <td class="index-content"><%= task.expired_at.to_s(:datetime_jp) %> </td>
      <td class="index-content"><%= task.status %></td>
      <td class="index-content"><%= task.priority %></td>
      <td class="index-content"><%= link_to t('tasks.show.title'), task_path(task.id) %></td>
      <td class="index-content"><%= link_to t('tasks.edit.title'), edit_task_path(task.id) %></td>
      <td class="index-content"><%= link_to t('tasks.destroy.title'), task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td> 
    </tr>
 <% end %> 
  <%# <%= paginate @tasks %> 

</table>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= link_to "優先順位が高い順にソート", tasks_path(sort_priority: "true") %>
<br>
<%= link_to t("activerecord.models.task")+'を作成する', new_task_path %>
