<h1>タスク詳細画面</h1>

<%= form_with(model: @task, url: tasks_path, local: true,class:"blog_wrapper") do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <p>タイトル:<%= @task.title %></p>
  <p>本文:<%= @task.content %></p>
  <div>